* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PingFangSC-Regular', 'STHeiti Light', 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
	}
a {
	text-decoration: none;
}
/*导航栏*/
.header-section {
	height: 75px;
	background-color: #3a3b44;
	position: fixed;
	width: 100%;
	z-index: 999;
	display: inline-block;
}
.header-contain {
	width: 1000px;
	height: 75px;
}
.header-contain img {
	display: inline-block;
	width: 115px;
	height: 45px;
	margin-top:15px;
}
.header-nav-left {
	display: inline-block;
	vertical-align: top;
}
.header-nav-left a {
	display: inline-block;
	font-size: 15px;
  color: #fff;
  line-height: 75px;
  margin-left: 52px;
}
.header-nav-left a:nth-child(3) {
	color: #58a673;
}
.header-nav-left a:hover {
	color: #58a673;
	transition: all .3s ease;
}
.header-nav-right {
	float: right;
	vertical-align: top;
	font-size: 0;
}
.header-nav-right a {
	display: inline-block;
	width: 100px;
	height: 36px;
	border: 1px solid #58a673;
	font-size: 15px;
	color: #58a673;
	text-align: center;
	line-height: 34px;
	margin:19.5px 20px 0 0;
	border-radius: 2px; 
}
.header-nav-right a:hover {
	background-color: #58a673;
	color: #fff;
	transition: all .3s ease;
}
.header-nav-right a:nth-child(1) {
	background-color: #58a673;
	color: #fff;
}
.header-nav-right a:nth-child(3) {
	width: 70px;
	height: 36px;
	background-color: #58a673;
	color: #fff;
}
.header-nav-right a:nth-child(3):hover {
	background-color: #3ec16c;
}

/*焦点图*/
.banner-section {
	height: 770px;
	padding-top: 75px;
	background-image: url(../img/banner.jpg);
}
.banner-contain {
	width: 1000px;
	text-align: center;
}
.banner-subtitle {
	font-size: 18px;
  color: #b1b1b5;
  line-height: 20px;
  margin-bottom: 30px; 
  padding-top:55px;
}
.banner-title {
	font-size: 32px;
  color: #fff;
  margin-bottom: 35px;
}
.banner-description {
	line-height: 30px;
  font-size: 15px;
  color: #58a673;
  margin-bottom: 45px;
}
.banner-partner_text {
	line-height: 20px;
  color: #b1b1b5;
  margin-bottom: 20px;
  position: relative;
}
.banner-partner_text:before {
	content: '';
	display: inline-block;
	width: 390px;
	height: 1px;
	background-color: #64656d;
	position: absolute;
	left: 0px;
	top: 10px;
}
.banner-partner_text:after {
	content: '';
	display: inline-block;
	width: 390px;
	height: 1px;
	background-color: #64656d;
	position: absolute;
	right: 0px;
	top: 10px;
}
.banner-list{
	width: 1000px;
	height: 200px;
	font-size: 0;
	text-align: center;
}
.banner-item{
	display: inline-block;
	width: 202px;
	height: 200px;
	margin-right: 140px;
	margin-top: 40px;
}
.banner-list .banner-item:nth-child(3){
	margin-right: 0;
}
.banner-item img{
	width: 180px;
	height: 110px;
}
.banner-item p{
	font-size: 18px;
  line-height: 30px;
  color: #b1b1b5;
}
.banner-button{
	margin-top: 37px;
}

.banner-button a{
	display: inline-block;
	width: 240px;
	height: 52px;
	border: 1px solid #58a673;
	font-size: 22px;
	line-height: 50px;
	color: #58a673;
	text-align: center;
	transition: all .2s ease;
  border-radius: 2px;
  margin-top: 3px;
}
.banner-button a:hover{
	background-color: #58a673;
  color: #fff;
}

/*搭积木*/
.deepbg-section{
	padding-top: 70px;
  padding-bottom: 66px;
  background: #3d3f52;
  height: 573px;
}
.deepbg-contain{
	width: 1000px;
}
.deepbg-title{
	font-size: 32px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.deepbg-sub-description{
	font-size: 18px;
  color: #b1b1b5;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
}
.deepbg-contain img{
	width: 1000px;
	height: 342px;
}
/*服务特色*/
.feature-section {
	height: 878px;
	background-image: linear-gradient(to bottom, #35374b, #767882); 
}
.feature-contain {
	width: 1000px;
	height: 878px;
}
.feature-title {
	font-size: 32px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  padding-top: 70px;
}
.feature-subtitle {
	font-size: 18px;
  color: #999999;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
}
.feature-form {
	margin-top: 60px;
	background: #f2f4f6;
  font-size: 0;
  border-radius: 2px;
  overflow: hidden;
}
.feature-form .form-top li {
	float: left;
	list-style: none;
}
.feature-form .form-top .top-left {
	width:290px;
	height: 70px;
	border: 1px solid #fff;
}
.top-middle {
	width:250px;
	height: 70px; 
	background-color: #c1cce2;
	font-size:15px;
	text-align: center;
	line-height: 70px;
	color: #3f464b;
	font-weight: 700;
	border: 1px solid #fff;
}
.top-right {
	width: 230px;
	height: 70px;
	background-color: #dde3f0;
	font-size:15px;
	text-align: center;
	line-height: 70px;
	color: #3f464b;
	border: 1px solid #fff;
}
.form-contain {
	float:left;
	list-style: none;
}
.form-contain .contain-left {
	float:left;
	width: 290px;
	height: 74px;
	font-size: 15px;
	line-height: 74px;
	text-align: left;
  padding-left: 30px;
  color: #305798;
  border: 1px solid #fff;
}
.form-contain .contain-left span {
	display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 23px;
  border-radius: 50%;
  border: 1px solid #c2cde0;
  font-size: 13px;
  margin-right: 12px;
  background: #fff;
}
.form-contain .contain-middle {
	float:left;
	width: 250px;
	height: 74px;
	font-weight: 600;
	font-size: 15px;
	color: #667080;
	line-height: 74px;
	text-align: center;
	background-color: #dae0e8;
	border: 1px solid #fff;
}
.form-contain .contain-right {
	float: left;
	width: 230px;
	height: 74px;
	font-size: 15px;
	line-height: 74px;
	text-align: center;
	background-color: #eef2f9;
  color: #667080;
	border: 1px solid #fff;
}



/*服务流程*/
.flow-section {
	height: 1330px;
	background-color: #fff;
}
.flow-contain {
	width: 1000px;
	height: 1330px;
}
.flow-title {
	font-size: 32px;
  color: #3f464b;
  line-height: 40px;
  text-align: center;
  padding-top: 70px;
}
.flow-subtitle {
	font-size: 18px;
  color: #999999;
  margin:20px 0 60px 0;
  line-height: 20px;
  text-align: center;
}
.flow-item {
	width: 1000px;
  margin-bottom: 60px;
  padding-top: 5px;
  font-size: 0;
}



.flow-text {
	display: inline-block;
	width: 550px;
	position: relative;
}
.flow-item-logo {
	position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
  background: #62bd82;
  color: #fff;
  font-size: 32px;
  box-shadow: 0 5px 5px #deede3;
}
.flow-text:after{
	content: '';
	display: inline-block;
	width: 650px;
	height: 1px;
	background: #e0e0e0;
	position: absolute;
	left: -100px;
	top:100px;
}
.flow-item-title {
	font-size: 16px;
  color: #58a673;
  line-height: 30px;
  padding-left: 90px;
}
.flow-item-text {
	font-size: 12px;
  color: #999999;
  line-height: 20px;
  height: 60px;
  text-align: justify;
  padding-left: 90px;
}
.flow-text{
  overflow: hidden;
  font-size: 13px;
  color: #3f464b;
  padding-top: 10px;
  text-align: justify;
}
.flow-item img {
	float: right;
	width: 310px;
	height: 200px;
}



/*合作方式*/
.cooperation-section{
	height: 710px;
	background: #3d3f52;
	padding-top: 70px;
  padding-bottom: 100px;
}
.cooperation-contain{
	width: 1000px;
}
.cooperation-title{
	font-size: 32px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.cooperation-sub-description{
	font-size: 18px;
  color: #b1b1b5;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
}
.cooperation-contain ul{
	list-style: none;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 90px;
	border-bottom: 1px solid #5b5b5b;
}
.cooperation-contain ul li{
	position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  font-size: 16px;
  color: #8a8b91;
  line-height: 60px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.cooperation-contain ul li:before{
	content: '';
	display: inline-block;
	width: 120px;
	height: 2px;
	background: #62bd82;
	position: absolute;
	bottom: 0;
	left: 0;
}
.cooperation-contain ul li:nth-child(2):before{
	display: none;
}
.cooperation-contain ul li:nth-child(3):before{
	display: none;
}
.cooperation-contain ul li:nth-child(1){
	color: #62bd82;
}
.cooperation-item{

}
.cooperation-item-text{
	display: inline-block;

}
.item-title{
	height: 50px;
  line-height: 50px;
  font-size: 28px;
  color: #fff;
}
.item-desc{
	height: 60px;
  line-height: 20px;
  font-size: 14px;
  color: #8a8b91;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-content{
	position: relative;
  height: 130px;
  padding-top: 20px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}
.item-content:before{
	content: '';
	position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 34px;
  height: 4px;
  background: #54555c;
}
.cooperation-item-text a{
	display: inline-block;
  width: 160px;
  height: 50px;
  line-height: 48px;
  font-size: 18px;
  color: #58a673;
  border: 1px solid #58a673;
  transition: all .2s ease;
  border-radius: 2px;
  text-align: center;
}
.cooperation-item-text a:hover{
	background: #58a673;
  color: #fff;
}
.cooperation-item img{
	float: right;
	width: 320px;
	height: 210px;
}
/*FAQ*/
.faq-section{
	height:1154px;
	padding-top: 70px;
  padding-bottom: 60px;
  background: #f6f8fa; 
}
.faq-contain{
	width: 1000px;
}
.faq-title{
	font-size: 32px;
	color: #3f464b;
  line-height: 40px;
  text-align: center; 
}
.faq-sub-description{
	font-size: 18px;
  color: #999999;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
  margin-bottom:50px;
}
.faq-item{
	border-bottom: 1px solid #e4e4e4;
  margin-bottom: 14px;
  padding-left: 30px;
}
.faq-item:nth-child(11){
	border: none;
}
.faq-item-title{
	position: relative;
  line-height: 20px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #3f464b;
}
.faq-item-title:before{
	content: 'Q';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #58a673;
	text-align: center;
	line-height: 20px;
	border-radius: 4px;
	color: #fff;
	position: absolute;
	top: 0;
	left: -30px;
}
.faq-item-desc{
	position: relative;
  font-size: 14px;
  color: #667080;
  line-height: 28px;
  margin-bottom: 22px;
}
.faq-item-desc:before{
	content: 'A';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #58a673;
	text-align: center;
	line-height: 20px;
	border-radius: 4px;
	color: #fff;
	position: absolute;
	top: 0;
	left: -30px;
}


/*底部*/
.footer-section {
	background: #1d1a33;
	border-top: 1px solid #aeaeb8;
}
.footer-contain {
	width: 1000px;
	margin-top: 66px;
  background: #1d1a33;
  overflow: hidden; 
}
.footer-logo {
	display: inline-block;
	vertical-align: top;
}
.footer-logo img {
	width: 130px;
	height: 51px;
}
.footer-about {
	display: inline-block;
	margin:0 90px 0 140px;
	width: 230px;
}
.footer-about dt {
	position: relative;
  font-size: 15px;
  color: #fff;
  height: 50px;
  line-height: 20px;
}
.footer-about dt:before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 3px;
	background-color: #292644;
	position: absolute;
	left: 2px;
  top: 31px;
}
.footer-about dd {
	font-size: 14px;
 	line-height: 28px;
 	color: #8a8b91;
}
.footer-nav {
	display: inline-block;
	width: 160px;
	vertical-align: top;
}
.footer-nav dt {
	position: relative;
  font-size: 15px;
  color: #fff;
  height: 50px;
  line-height: 20px;
}
.footer-nav dt:before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 3px;
	background-color: #292644;
	position: absolute;
	left: 2px;
  top: 31px;
}
.footer-nav dd {
	margin-bottom: 15px;
}
.footer-nav a {
	font-size: 14px;
	color: #8a8b91;
}
.footer-nav a:hover {
	color: #58a673;
	transform: all .2s;
}
.footer-contact {
	display: inline-block;
	width: 230px;
	vertical-align: top;
}
.footer-contact dt {
	position: relative;
  font-size: 15px;
  color: #fff;
  height: 50px;
  line-height: 20px;
}
.footer-contact dt:before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 3px;
	background-color: #292644;
	position: absolute;
	left: 2px;
  top: 31px;
}
.footer-contact dd {
	margin-bottom: 15px;
	font-size: 14px;
	color: #8a8b91;
}
.footer-aside {
	height: 33px;
	margin-top: 33px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	text-align: center;
	font-size: 14px;
	line-height: 33px;
}
.footer-aside a {
	color:#8a8b91;
}
.footer-aside a:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 22px;
	background-image: url(../img/foot-01.png);
	vertical-align: middle;
}
